*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
body{font-family: 'poppins', sans-serif;}

.navbar{
        display: flex;
        align-items: center;
        padding: 20px;
       }
nav{
    flex: 1;
    text-align: right;
   }
nav ul{
       display: inline-block;
       list-style-type: none;
      }
nav ul li{
          display: inline-block;
          margin-right: 20px;
         }
a{
  text-decoration: none;
  color: #555;
 }
p{
  color: #555;
 }
.container{
           max-width: 2000px;

          }
.row{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
    }
.col-2{
       padding: 10px;
       flex-basis: 50%;
       min-width: 300px;
      }
.col-2 img{
           max-width: 100%;
           padding: 50px 10px;
      }
.col-2 h1{
          margin: 25px 0;
         }
.col-2 p{
          font-size: 18px;
          line-height: 20px;
          margin: 25px 0;
         }
.btn{
     display: inline-block;
     background: #ff523b;
     color: #fff;
     padding: 8px 30px;
     margin: 30px 0;
     border-radius: 30px;
     transition: background 0.5s;
    }

.btn:hover{
           background: #563434;
          }
.header{
        background: #fff;
       }
.navbar{
      background: radial-gradient(#fff,#ffd6d6)
     }
.menue-icon{
            width: 34px;
            margin-left: 15px;
            display: none;
           }
.spy-accelerator1{
                display: none;
                }
@media only screen and (max-width: 800px){
     nav ul{
            position: absolute;
            top: 70px;
            left: 0;
            background: #333;
            width: 100%;
            overflow: hidden;
            transitions: max-height 0.15s;
           }
     nav ul li{
               display: block;
               margin-right: 50px;
               margin-top: 10px;
               margin-bottom: 10px;
              }
     nav ul li a{
               color: #fff;
              }
     .menue-icon{
                display: block;
                cursor: pointer;
                }
      }
@media only screen and (max-width: 600px){

      .row{ text-align: center; }
      .col-2{flex-basis: 100%;}

      }
.footer{
        background: #000;
        color: #8a8a8a;
        font-size: 14px;
        padding: 30px 0px 10px; 
       }
.footer p{
          color: #8a8a8a;
         }
.footer-col-1, .footer-col-2{
                             min-width: 100px;
                             margin-bottom: 10px; 
                            }
.footer-col-1{
              flex-basis: 30%; 
             }
.footer-col-2{
              flex: 1; 
             }

.footer-col-1 img{
                  width: 100px;  
                 }
.footer hr{
          border: none;
          margin: 10px 0;
          height: 1px;
          background: #b5b5b5;
         }
.copyright{
           text-align: center;
          }
.small-container{
                 max-width: 1080px; 
                 padding-left: 25px;
                 padding-right: 25px;
                 margin: auto;
                }
.small-container-heading hr{
                            width: 85px;
                            border: none;
                            height: 4px;
                            background: #ff523b;
                            margin-left: 40px;
                           }
.small-container-heading h2{
                            margin-left: 40px;
                            margin-top: 20px;
                           }
.small-container2 h4{
                     margin-left: 40px;
                     margin-top: 40px;
                    }
.small-container2 hr{
                    width: 168px;
                    border: none;
                    height: 4px;
                    background: #ff523b;
                    margin-left: 40px;
                   }
.small-container3 h4{
                     margin-left: 10px;
                     margin-top: 40px;
                    }
.small-container3 hr{
                    width: 161px;
                    border: none;
                    height: 4px;
                    background: #ff523b;
                    margin-left: 10px;
                   }
.small-container3 a{
                     margin-left: 10px;
                     margin-top: 40px;
                    }
.small-container4 h4{
                     margin-left: 10px;
                     margin-top: 40px;
                    }
.small-container4 hr{
                    width: 228px;
                    border: none;
                    height: 4px;
                    background: #ff523b;
                    margin-left: 10px;
                   }
.col-4{ flex-basis: 24.8%;
        min-width: 200px;
        margin-bottom: 50px;
        padding: 10px; 
      }
.col-4 img{
           width: 100%; 
          }
.col-4 h4{ 
          text-align: center; 
         }
.col-4 p{ 
         text-align: center; 
        }
.col-4 hr{
          border: none;
          height: 1px;
          background: #000;
          width: 100%; 
         }
.col-5{ 
        flex-basis: 50.2%;
        min-width: 300px;
        margin-bottom: 50px;
        padding: 10px; 
      }
.col-5 img{
           width: 100%; 
          }
.col-5 h4{ 
          text-align: center; 
         }
.col-5 p{ 
         text-align: center; 
        }
.col-5 hr{
          border: none;
          height: 1px;
          background: #000;
          width: 100%; 
         }

@media only screen and (max-width: 600px){
      .col-4{flex-basis: 100%;}
      .col-5{flex-basis: 100%;}

      .spy-accelerator1{
                display: block;
                cursor: pointer;
                }
      .spy-accelerator2{
                display: none;
                }
      }
.btn-1{
     display: inline-block;
     background: #ff523b;
     color: #fff;
     padding: 8px 30px;
     margin: 10px;
     border-radius: 30px;
     transition: background 0.5s;
    }

.btn-1:hover{
           background: #563434;
          }
.btn-2{
     display: inline-block;
     background: #ff523b;
     color: #fff;
     padding: 8px 30px;
     margin: 10px;
     border-radius: 30px;
     transition: background 0.5s;
    }

.btn-2:hover{
           background: #563434;
          }
.btn-3{
     display: inline-block;
     background: #ff523b;
     color: #fff;
     padding: 8px 30px;
     margin: 10px;
     border-radius: 30px;
     transition: background 0.5s;
    }

.btn-3:hover{
           background: #563434;
          }
.btn-4{
     display: inline-block;
     background: #ff523b;
     color: #fff;
     padding: 8px 30px;
     margin: 10px;
     border-radius: 30px;
     transition: background 0.5s;
    }

.btn-4:hover{
           background: #563434;
          }

.col-memopdf{ flex-basis: 50%;
              min-width: 200px;
              margin-bottom: 10px;
              padding: 10px; 
             }
.col-memopdf img{
                  width: 100%; 
                 }
.col-memopdf h4{
                margin-top: 20px; 
                }

.col-memopdf hr{
                border: none;
                height: 1px;
                background: #000;
                width: 100%; 
                }
.col-memopdf form{
                margin-top: 20px; 
                }
.col-memopdf2 p{
                color: #ff523b;
               }
@media only screen and (max-width: 600px){
      .col-memopdf{flex-basis: 100%;}
      }














































































































































































































































